body,#root{
  width:100%;
  height:100vh;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
#canvas{
  width:900px;
  height:900px;
}
#art{
  display: table;
  height:calc(75vw*(9/16));
  width:75vw;
  border: 1px solid black;
}
::-webkit-scrollbar {
  display: none;
}
.position{
  position: absolute;
  left:45%;
  top:15%;
  font-size:30px;
}
.header{
  height:12vh;
  background-color: #1338BE;
  color:#E0AA3E;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bolder;
  font-size:2vw;
}
.pixel{
  display: table-cell;
  height:100%;
  width:1.5625%;
}
.pixelplay{
  opacity: 0;
  animation-name: pixelreveal;
  animation-duration: 1s;
  animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards; /* Chrome 16+, Safari 4+ */
  -moz-animation-fill-mode: forwards;    /* FF 5+ */
  -o-animation-fill-mode: forwards;      /* Not implemented yet */
  -ms-animation-fill-mode: forwards;     /* IE 10+ */
  animation-fill-mode: forwards;         /* When the spec is finished */
}
.screen{
  height:100%;
  width:100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.r{
  height:1.5625%;
  display: flex;
  width:100%;
  position: relative;
}

.functions{
  display: flex;
  flex-direction: column;
  height:80vh;
  width:10vw;
  justify-content: center;
  align-items: center;
}
.buttons{
  padding:1vw;
  width:calc(16/9);
  height:calc(9/16);
  margin:9px;
  background-color: #1338BE;
  border: 2px solid #E0AA3E;
  border-radius: 12px;
  color:#E0AA3E;
}
#itemSelect{
  background-color: #1338BE;
  border: 2px solid #E0AA3E;
  border-radius: 12px;
  color:#E0AA3E;
  padding:9px;
  margin:9px;
}
#itemSelect:focus{
   outline: none;
}
.addItem{
  background-color: #1338BE;
  border: 2px solid #E0AA3E;
  border-radius: 12px;
  color:#E0AA3E;
  padding:9px;
  margin:9px;
}


.colorpicker{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@keyframes pixelreveal {
  from{opacity:0}
  to{opacity:1}
}
